<div id="result-block">
	<div style="width: 20%; text-align: center; float:left;">
		<img ng-src="{{myInfo.orgLogo}}" style="width:80%;">
	</div>

	<div style="text-align:right;">
		<h3>{{myInfo.orgName}}</h3>
	</div>

	<div style="width: 40%; text-align: right; float:right;">
		{{myInfo.orgAddress}}<br />
		Tel: {{myInfo.orgTel}}<br />
		Web: {{myInfo.orgWeb}}
	</div>

	<div style="clear:both;"></div>

	<hr />

	<fieldset>
		<legend>Prepared for:</legend>
		<strong>
			{{frmData.clientCompany}}
			<span class="pull-right">Date: {{frmData.quotDate}}</span>
		</strong>
		<br />
		<p style="white-space: pre;">{{frmData.clientAddress}}</p>
	</fieldset>

	<div id="main">
		<h3 align="center">{{frmData.subject}}</h3>
		<p>{{frmData.introText}}</p>

		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Unit Price</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="prod in selectedProducts">
					<td>{{prod.id}}</td>
					<td>{{prod.title}}</td>
					<td>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco</p>
						<ul>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</li>
						</ul>
					</td>
					<td align="right">{{prod.unitPrice | currency : 'BDT '}}/-</td>
					<td align="center">{{prod.quantity}} {{prod.unit}}</td>
					<td align="right">{{ (prod.quantity * prod.unitPrice) | currency : 'BDT ' }}/-</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th colspan="5" class="text-right">Grand Total:</th>
					<th class="text-right">{{ getGrandTotal() | currency : 'BDT ' }}/-</th>
				</tr>
			</tfoot>
		</table>

		<p>If you have any questions regarding this quotation, please don't hasitate to contact us.</p>

		<hr />

		<h4>Terms and conditions</h4>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</li>
		</ul>

		<br />

		<h4 class="text-right">Contact Person</h4>

		<br />
		<div class="col-sm-4 pull-right">
			<p id="contactPerson" class="text-right">
				<strong>{{myInfo.name}}</strong><br />
				{{myInfo.title}}<br />
				{{myInfo.orgTel}}<br />
				{{myInfo.email}}
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<br />
	<br />
	<br />
	<img id="watermark" ng-src="{{myInfo.orgLogo}}" />
</div>