<div id="result-block">
	<div style="width: 20%; text-align: center; float:left;">
		<img ng-src="{{myInfo.orgLogo}}" style="width:80%;">
	</div>

	<div style="text-align:right;">
		<h1>{{myInfo.orgName}}</h1>
	</div>

	<div style="width: 40%; text-align: right; float:right;">
		{{myInfo.orgAddress}}
		Tel: {{myInfo.orgTel}}
		Web: {{myInfo.orgWeb}}
	</div>

	<div style="clear:both;"></div>

	<div style="background-image: url('{{myInfo.orgLogo}}'); background-repeat:no-repeat; background-opacity:0.1; min-height:400px; ">
		WEBJAR
	</div>

	<hr />
</div>
