<div class="panel panel-info">
	<div class="panel-heading" role="tab" id="clientInfo">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#client-info" aria-expanded="true" aria-controls="client-info">
				Client
				<!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
			</a>
		</h4>
	</div>
	<div id="client-info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="clientInfo">
		<div class="panel-body">
			<div class="form-group">
				<label for="clientCompany">Client Company Name</label>
				<input type="text" class="form-control" id="clientCompany" ng-model="frmData.clientCompany" placeholder="Client company name">
			</div>

			<div class="form-group">
				<label for="clientAddress">Address</label>
				<textarea class="form-control" id="clientAddress" ng-model="frmData.clientAddress" placeholder="Client company address"></textarea>
			</div>
		</div>
	</div>
</div>