<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" id="name" ng-model="myInfo.name" />
</div>

<div class="form-group">
	<label for="title">Job Title</label>
	<input type="text" class="form-control" id="title" ng-model="myInfo.title" />
</div>

<div class="form-group">
	<label for="tel">Phone</label>
	<input type="text" class="form-control" id="tel" ng-model="myInfo.tel" />
</div>

<div class="form-group">
	<label for="email">Email</label>
	<input type="text" class="form-control" id="email" ng-model="myInfo.email" />
</div>